Tarea 6/code/public/servicio.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://172.16.80.128/code/public/servicio.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Operaciones" targetNamespace="http://172.16.80.128/code/public/servicio.php">
  <types>
    <xsd:schema targetNamespace="http://172.16.80.128/code/public/servicio.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="OperacionesPort">
    <operation name="getPVP">
      <documentation>Obtiene el PVP de un producto dado su codigo</documentation>
      <input message="tns:getPVPIn"/>
      <output message="tns:getPVPOut"/>
    </operation>
    <operation name="getStock">
      <documentation>Obtiene el stock de un producto en una tienda especifica</documentation>
      <input message="tns:getStockIn"/>
      <output message="tns:getStockOut"/>
    </operation>
  </portType>
  <binding name="OperacionesBinding" type="tns:OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPVP">
      <soap:operation soapAction="http://172.16.80.128/code/public/servicio.php#getPVP"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.16.80.128/code/public/servicio.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.16.80.128/code/public/servicio.php"/>
      </output>
    </operation>
    <operation name="getStock">
      <soap:operation soapAction="http://172.16.80.128/code/public/servicio.php#getStock"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.16.80.128/code/public/servicio.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://172.16.80.128/code/public/servicio.php"/>
      </output>
    </operation>
  </binding>
  <service name="OperacionesService">
    <port name="OperacionesPort" binding="tns:OperacionesBinding">
      <soap:address location="http://172.16.80.128/code/public/servicio.php"/>
    </port>
  </service>
  <message name="getPVPIn">
    <part name="codigoProducto" type="xsd:string"/>
  </message>
  <message name="getPVPOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="getStockIn">
    <part name="codigoProducto" type="xsd:string"/>
    <part name="codigoTienda" type="xsd:string"/>
  </message>
  <message name="getStockOut">
    <part name="return" type="xsd:int"/>
  </message>
</definitions>
